* {
  margin: 0;
  padding: 0;
}
.directory {
  display: block;
  margin-top: 40px;
}
.directory li {
  display: block;
}
.directory li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  padding: 15px 10px;
  text-decoration: none;
}

.catalog .directory {
  display: flex;
  flex-wrap: wrap;
}
.catalog .directory li {
  background-color: #f2f2f2;
  margin: 20px;
  border-radius: 10px;
}
.catalog .directory li a {
  color: #333;
  
}